*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;

}
.c{
    height: 100vh;
    width: 100%;
    background-image: url(save2.jpg);
    background-position: center;
    background-size: cover;
    padding-left: 5%;
    padding-right: 5%;
    box-sizing: border-box;
    position: relative;

}
.n{
    width: 200%;
    height: 20vh;
    margin: auto;
    display: flex;
    align-items: center;

}
.logo{
    width: 100px;
    cursor: pointer;

}
.cart{
    width: 150px;
    cursor: pointer;

}
nav{
    flex: 1;
    padding-left: 200px;

}
nav ul li{
    display: inline-block;
    list-style: none;
    margin: 30px 20px;
    display: inline-block;
    background: linear-gradient(45deg, rgb(236, 0, 0), rgba(0, 0, 0, 0));;
    border-radius: 6px;
    padding: 10px 20px;
    text-decoration: none;
    color: #fff;
    box-shadow: 3px,8px,27px, rebs(94,28,68,0.15) ;
    margin-top: 200;

}
section.a{
    padding: 12px 30px;
    border-radius: 4px;
    outline: none;
    text-transform: uppercase;
    font-size: 13px;
    font-weight: 500;
    text-decoration: none;
    letter-spacing: 1px;
    transform: all .5s ease;
 
}
.btnone{
    display: inline-block;
    background: linear-gradient(45deg, #fff, rgb(51, 255, 0));
    border-radius: 6px;
    padding: 10px 20px;
    margin-left: 500px;
    margin-top: 100px;
    margin-right:100px ;
    margin-bottom: 15px;
    box-sizing: border-box;
    text-decoration: none;
    color: #fff;
    box-shadow: 3px,8px,27px, rebs(94,28,68,0.15)
}
section h1{
    margin: 25px 0 20px 0;
    font-size: 30px;
    font-weight: 700;
    text-shadow: 2px 1px 5px rgb(255, 255, 255);
    text-transform: uppercase;
}section h3{
    font-size: 20px; font-weight:200; letter-spacing: 3px;
    text-shadow:1px 1px 2px rgb(255, 255, 255);}